{%load static%}
<!--== Start Footer Area Wrapper ==-->
  <footer class="footer-area">
    <!--== Start Footer Main ==-->
    <div class="footer-main">
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="widget-item widget-about">
              <h4 class="widget-title">Цікава інформація</h4>
              <p class="desc">Говорячи про мене, автора цього сайту, то я не дуже люблю читати... Але декілька років тому, я все ж прочитав одну цікаву книжку з незвичним форматом для мене. Якщо заінтригував, то купуй її поки не закінчилась акція)</p>
              <div class="social-icons">
                <a href="https://www.facebook.com/" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a>
                <a href="https://dribbble.com/" target="_blank" rel="noopener"><i class="fa fa-dribbble"></i></a>
                <a href="https://www.pinterest.com/" target="_blank" rel="noopener"><i class="fa fa-pinterest-p"></i></a>
                <a href="https://twitter.com/" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="widget-item nav-menu-item1">
              <h4 class="widget-title">Час роботи</h4>
              <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#widgetId-1">Information</h4>
              <div id="widgetId-1" class="collapse widget-collapse-body">
                <div class="collapse-body">
                  <div class="widget-menu-wrap">
                    <ul class="nav-menu">
                      <li><a href="about-us.html"></a>     Понеділок 08:30 - 20:00</li>
                      <li><a href="account-login.html"></a>Вівторок  08:30 - 20:00</li>
                      <li><a href="account-login.html"></a>Середа    08:30 - 20:00 <li>
                      <li><a href="account-login.html"></a>Четвер    08:30 - 20:00</li>
                      <li><a href="contact.html"></a>      П'ятниця  08:30 - 20:00    </li>
                      <li><a href="account-login.html">    Сб - Нд   10:00 - 17:00</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="widget-item nav-menu-item2">
              <h4 class="widget-title">Наші правила</h4>
              <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#widgetId-2">Our Policy</h4>
              <div id="widgetId-2" class="collapse widget-collapse-body">
                <div class="collapse-body">
                  <div class="widget-menu-wrap">
                    <ul class="nav-menu">
                      <li><a href="account-login.html"</a>Відповідальність</li>
                      <li><a href="shop.html"></a>Повага один до одного</li>
                      <li><a href="account-login.html"></a>Відхід від конфліктів</li>
                      <li><a href="shop.html"></a>Участь у житті колективу</li>
                      <li><a href="account.html"></a>Субординація між людьми</li>
                      <li><a href="about-us.html"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="widget-item">
              <h4 class="widget-title">Швидка відповідь:</h4>
              <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#widgetId-3">Contact Info:</h4>
              <div id="widgetId-3" class="collapse widget-collapse-body">
                <div class="collapse-body">
                  <div class="widget-contact-info">
                    <p class="contact-info-desc">Якщо вас цікавить якесь питання, напишіть нам <a href="mailto://kostenkosasha@gmail.com">kostenkosasha@gmail.com</a></p>
                    <div class="contact-item">
                      <div class="icon">
                        <i class="pe-7s-map-marker"></i>
                      </div>
                      <div class="info">
                        <p>Адреса нашого офісу. <br>м. Київ; вул. Квітнева 156.</p>
                      </div>
                    </div>
                    <div class="contact-item phone-info">
                      <div class="icon">
                        <i class="pe-7s-phone"></i>
                      </div>
                      <div class="info">
                        <p><span>Зателефонуйте нам</span> <br><a href="tel://0123456789">+380966698425</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Footer Main ==-->

    <!--== Start Footer Bottom ==-->
    <div class="footer-bottom">
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-12">
            <div class="footer-bottom-content">
              <p class="copyright">2022 рік   <a target="_blank" href="https://themeforest.net/user/codecarnival"></a></p>
              <div class="payment">
                <a href="account.html"><img src="{% static 'assets/img/photos/payment.webp'%}" width="192" height="21" alt="Payment Logo"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Footer Bottom ==-->
  </footer>
  <!--== End Footer Area Wrapper ==-->

  <!--== Scroll Top Button ==-->
  <div id="scroll-to-top" class="scroll-to-top"><span class="fa fa-angle-up"></span></div>

  <!--== Start Product Quick Wishlist Modal ==-->
  <aside class="product-action-modal modal fade" id="action-WishlistModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="product-action-view-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal">
              <i class="pe-7s-close"></i>
            </button>
            <div class="modal-action-messages">
              <i class="pe-7s-check"></i>  Added to wishlist successfully!
            </div>
            <div class="modal-action-product">
              <div class="thumb">
                <img src="{% static 'assets/img/shop/modal1.webp'%}" alt="Organic Food Juice" width="466" height="320">
              </div>
              <h4 class="product-name"><a href="single-product.html">Joust Duffle Bag</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <!--== End Product Quick Wishlist Modal ==-->

  <!--== Start Product Quick Add Cart Modal ==-->
  <aside class="product-action-modal modal fade" id="action-CartAddModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="product-action-view-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal">
              <i class="pe-7s-close"></i>
            </button>
            <div class="modal-action-messages">
              <i class="pe-7s-check"></i>  Added to cart successfully!
            </div>
            <div class="modal-action-product">
              <div class="thumb">
                <img src="{% static 'assets/img/shop/modal1.webp'%}" alt="Organic Food Juice" width="466" height="320">
              </div>
              <h4 class="product-name"><a href="single-product.html">Joust Duffle Bag</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <!--== End Product Quick Add Cart Modal ==-->

  <!--== Start Product Quick View Modal ==-->
  <aside class="product-cart-view-modal modal fade" id="action-QuickViewModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="product-quick-view-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal">
              <span class="pe-7s-close"></span>
            </button>
            <div class="container pt--0 pb--0">
              <div class="row">
                <div class="col-lg-6">
                  <!--== Start Product Thumbnail Area ==-->
                  <div class="product-single-thumb">
                    <img src="{% static 'assets/img/shop/quick-view1.webp'%}" width="544" height="560" alt="Image-HasTech">
                  </div>
                  <!--== End Product Thumbnail Area ==-->
                </div>
                <div class="col-lg-6">
                  <!--== Start Product Info Area ==-->
                  <div class="product-single-info">
                    <h3 class="main-title">Joust Duffle Bag</h3>
                    <div class="prices">
                      <span class="price">$20.19</span>
                    </div>
                    <div class="rating-box-wrap">
                      <div class="rating-box">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <div class="review-status">
                        <a href="javascript:void(0)">(5 Customer Review)</a>
                      </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipis elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nol exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
                    <div class="product-single-meta">
                      <ul>
                        <li><span>SKU:</span> Ch-256xl</li>
                        <li><span>Categories:</span>
                          <a href="shop.html">Pet Food. eCommerce</a>
                        </li>
                        <li><span>Tags:</span>
                          <a href="shop.html">Petfood. Pet</a>,
                          <a href="shop.html">Animal.</a>
                        </li>
                      </ul>
                    </div>
                    <div class="product-quick-action">
                      <div class="qty-wrap">
                        <div class="pro-qty">
                          <input type="text" title="Quantity" value="01">
                        </div>
                      </div>
                      <button type="button" class="btn-product-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                        Add To Cart
                      </button>
                        <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                          <i class="pe-7s-like"></i>
                        </button>
                      <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                        <i class="pe-7s-look"></i>
                      </button>
                    </div>
                  </div>
                  <!--== End Product Info Area ==-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <!--== End Product Quick View Modal ==-->

  <!--== Start Aside Cart ==-->
  <aside class="aside-cart-wrapper offcanvas offcanvas-end" tabindex="-1" id="AsideOffcanvasCart" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h1 class="d-none" id="offcanvasRightLabel">Корзина</h1>
      <button class="btn-aside-cart-close" data-bs-dismiss="offcanvas" aria-label="Close">Shopping Cart <i class="fa fa-chevron-right"></i></button>
    </div>

    {% if Cart %}


    <div class="offcanvas-body">
      <ul class="aside-cart-product-list">
        {% for i in Cart%}
        <li class="aside-product-list-item">
          <a href="/single_product/{{i.id}}">
            <img src="/media/{{i.photo}}" width="90" height="110" alt="Image-HasTech">
            <span class="product-title">{{i.name}}</span>
          <span class="product-price">{{i.price}}</span>
        </li>
        {%endfor%}
      </ul>
      <a class="btn-total" href="/shop_checkout">Перейти до замовлення</a>

      <a class="d-block text-end lh-1" href="/shop_checkout"><img src="{% static 'assets/img/photos/paypal.webp'%}" width="133" height="26" alt="Has-image"></a>
    </div>



    {% endif%}
  </aside>
  <!--== End Aside Cart ==-->

  <!--== Start Aside Search Form ==-->
  <aside class="aside-search-box-wrapper offcanvas offcanvas-top" tabindex="-1" id="AsideOffcanvasSearch" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-header">
      <h5 class="d-none" id="offcanvasTopLabel">Aside Search</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"><i class="pe-7s-close"></i></button>
    </div>
    <div class="offcanvas-body">
      <div class="container pt--0 pb--0">
        <div class="search-box-form-wrap">
          <div class="search-note">
            <p>Start typing and press Enter to search</p>
          </div>
          <form action="#" method="post">
            <div class="search-form position-relative">
              <label for="search-input" class="visually-hidden">Search</label>
              <input id="search-input" type="search" class="form-control" placeholder="Search entire store…">
              <button class="search-button"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </aside>
  <!--== End Aside Search Form ==-->

  <!--== Start Aside Menu ==-->
  <aside class="off-canvas-wrapper offcanvas offcanvas-start" tabindex="-1" id="AsideOffcanvasMenu" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h1 class="d-none" id="offcanvasExampleLabel">Aside Menu</h1>
      <button class="btn-menu-close" data-bs-dismiss="offcanvas" aria-label="Close">menu <i class="fa fa-chevron-left"></i></button>
    </div>
    <div class="offcanvas-body">
      <nav id="offcanvasNav" class="offcanvas-menu-nav">
        <ul>
          <li class="offcanvas-nav-parent">
            <a class="offcanvas-nav-item" href="javascript:void(0)">Home</a>
            <ul>
              <li><a href="index.html"><span>Home One</span></a></li>
              <li><a href="index-two.html"><span>Home Two</span></a></li>
            </ul>
          </li>

          <li class="offcanvas-nav-parent"><a class="offcanvas-nav-item" href="about-us.html">About</a></li>

          <li class="offcanvas-nav-parent">
            <a class="offcanvas-nav-item" href="javascript:void(0)">Shop</a>
            <ul>
              <li>
                <a class="offcanvas-nav-item" href="javascript:void(0)">Shop Layouts</a>
                <ul>
                  <li><a href="shop-three-columns.html"><span>Shop 3 Column</span></a></li>
                  <li><a href="shop-four-columns.html"><span>Shop 4 Column</span></a></li>
                  <li><a href="shop-left-sidebar.html"><span>Shop Left Sidebar</span></a></li>
                  <li><a href="shop.html"><span>Shop Right Sidebar</span></a></li>
                </ul>
              </li>
              <li>
                <a class="offcanvas-nav-item" href="javascript:void(0)">Single Product</a>
                <ul>
                  <li><a href="single-normal-product.html"><span>Single Product Normal</span></a></li>
                  <li><a href="single-product.html"><span>Single Product Variable</span></a></li>
                  <li><a href="single-group-product.html"><span>Single Product Group</span></a></li>
                  <li><a href="single-affiliate-product.html"><span>Single Product Affiliate</span></a></li>
                </ul>
              </li>
              <li>
                <a class="offcanvas-nav-item" href="javascript:void(0)">Others Pages</a>
                <ul>
                  <li><a href="shop-cart.html"><span>Shopping Cart</span></a></li>
                  <li><a href="shop-checkout.html"><span>Checkout</span></a></li>
                  <li><a href="shop-wishlist.html"><span>Wishlist</span></a></li>
                  <li><a href="shop-compare.html"><span>Compare</span></a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="offcanvas-nav-parent">
            <a class="offcanvas-nav-item" href="javascript:void(0)">Blog</a>
            <ul>
              <li>
                <a class="offcanvas-nav-item" href="javascript:void(0)">Blog Layout</a>
                <ul>
                  <li><a href="blog-grid.html">Blog Grid</a></li>
                  <li><a href="blog.html">Blog Left Sidebar</a></li>
                  <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                </ul>
              </li>
              <li>
                <a class="offcanvas-nav-item" href="javascript:void(0)">Single Blog</a>
                <ul>
                  <li><a href="blog-details-no-sidebar.html">Blog Details</a></li>
                  <li><a href="blog-details.html">Blog Details Left Sidebar</a></li>
                  <li><a href="blog-details-right-sidebar.html">Blog Details Right Sidebar</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="offcanvas-nav-parent">
            <a class="offcanvas-nav-item" href="javascript:void(0)">Pages</a>
            <ul>
              <li><a href="account.html"><span>Account</span></a></li>
              <li><a href="account-login.html"><span>Login</span></a></li>
              <li><a href="account-register.html"><span>Register</span></a></li>
              <li><a href="page-not-found.html"><span>Page Not Found</span></a></li>
            </ul>
          </li>

          <li class="offcanvas-nav-parent"><a class="offcanvas-nav-item" href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </aside>
  <!--== End Aside Menu ==-->